<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('Nostralia Logs') %></h1>
  </div>
  <div class="main container clearfix">
    <h1>API tests</h1>
  </div>
</div>
