<div>
	<h2 class="subtitle">Guilds</h2>
	<table class="table">
		<thead>
			<tr>
				<th>
					ID
				</th>
				<th>
					Name
				</th>
			</tr>
		</thead>
		<tbody>
			{{#each guilds.items}}
				<tr>
					<td>
						{{guildid}}
					</td>
					<td>
						{{name}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>
