<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
  <h2>Guilds</h2>
  <h5>{{guilds.items.length}} entries</h5>
  <table>
    <tr>
      <th>
        Name
      </th>
    </tr>
    {{#each guilds.items}}
    <tr>
      <td>
        {{name}}
      </td>
    </tr>
    {{/each}}
  </table>
</div>
